body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0e1621;
  color: #fff;
}

.container {
  text-align: center;
  padding: 20px;
}

.monitor {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.valor {
  background: #1c2a3a;
  padding: 20px;
  border-radius: 12px;
  width: 150px;
}

.valor span {
  display: block;
  font-size: 14px;
  color: #9fb3c8;
}

.valor strong {
  font-size: 32px;
  color: #00ff9c;
}

.ecg {
  margin: 20px auto;
  width: 90%;
  height: 80px;
  background: black;
  overflow: hidden;
}

.line {
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    red 50%,
    transparent 100%
  );
  animation: move 1.5s linear infinite;
}

@keyframes move {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.estado.on {
  color: #00ff9c;
}

.estado.off {
  color: #ff4d4d;
}

.botones button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
